<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Armoire</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="wardrobeApp">

    <div class="wrapper" ng-controller="mainController">

        <section class="section-controls">
            {{message}}
            <div class="wardrobe-controls">
                <label for="wardrobe-width">Largeur de l'armoire</label>
                <input type="number" id="wardrobe-width" placeholder="Largeur" ng-model="wardrobeWidth">
                <label for="wardrobe-height">Hauteur de l'armoire</label>
                <input type="number" id="wardrobe-height" placeholder="Hauteur" ng-model="wardrobeHeight">
            </div>

            <div class="blocks-controls">
                <label for="block-type">Type de bloc</label>
                <select id="block-type" name="block-type" ng-model="blockType">
                    <option value="shelf">Étagère</option>
                    <option value="drawer">Tiroir</option>
                    <option value="closet">Penderie</option>
                </select>
                <generateblockbutton></generateblockbutton>
                <ol id="blocks-list"></ol>
            </div>
        </section><!-- 
	
     --><section class="section-svg">   
            <svg id="wardrobe-svg" class="wardrobe-svg" width="{{wardrobeWidth}}" height="{{wardrobeHeight}}">
                <rect width="{{wardrobeWidth}}" height="{{wardrobeHeight}}" fill="#000"></rect>
            </svg>

            <!-- ng-style="{'width': wardrobeWidth, 'height': wardrobeHeight }" -->
        </section>

    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>