<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Armoire</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body ng-app="wardrobeApp">

    <div class="wrapper" ng-controller="mainController">

        <header>
            <h1>Choisir une armoire</h1>
            <p>Vivana Paga | Jean-Pierre Costa Da Silva | Clément Leboucher</p>
        </header>
        
        <section class="section-controls">

            <div class="wardrobe-controls">
            
                <h2>Dimensions de l'armoire</h2>

                <div>
                    <label for="wardrobe-width">Largeur</label>
                    <input type="number" id="wardrobe-width" placeholder="Largeur" ng-model="wardrobeWidth" ng-change="checkWardrobe()" min="30" max="300" ng-disabled="block.length > 0">
                </div>
                <div>
                    <label for="wardrobe-height">Hauteur</label>
                    <input type="number" id="wardrobe-height" placeholder="Hauteur" ng-model="wardrobeHeight" ng-change="checkWardrobe()" min="30" max="230" ng-disabled="block.length > 0">
                </div>
                <div>
                    <label for="wardrobe-depth">Profondeur</label>
                    <input type="number" id="wardrobe-depth" placeholder="Pronfondeur" ng-model="wardrobeDepth" min="40" max="80" ng-disabled="block.length > 0">
                </div>
            </div>

            <div class="blocks-controls">

                <h2>Choix des blocs</h2>

                <label for="block-type">Type de bloc</label>
                <select id="block-type" name="block-type" ng-model="blockType">
                    <option value="shelf">Étagère</option>
                    <option value="drawer">Tiroir</option>
                    <option value="closet">Penderie</option>
                </select>
                <generateblockbutton></generateblockbutton>
                <ol id="blocks-list"></ol>
            </div>
        </section><!-- 
	
     --><section class="section-svg">
            <svg id="wardrobe-svg" class="wardrobe-svg" width="1000" height="800">
                <!-- <rect width="{{wardrobeWidthRatio}}" height="{{wardrobeHeightRatio}}" fill="#000" /> -->
                <g id="wardrobe-base">

                    <rect id="wardrobe-back" x="{{60 + wardrobeDepth - 40}}" y="{{45 - wardrobeDepth + 40}}" fill="#D8D8D8" width="{{wardrobeWidthRatio}}" height="{{wardrobeHeightRatio}}"/>

                    <polyline id="wardrobe-left" fill="#51AF80" stroke="#000000" stroke-width="1"
                        points="
                            0,{{wardrobeHeightRatio + 80}} 
                            {{60 + wardrobeDepth - 40}},{{wardrobeHeightRatio + 45 - wardrobeDepth + 40}} 
                            {{60 + wardrobeDepth - 40}},{{45 - wardrobeDepth + 40}} 
                            0,80"
                    />

                    <polygon id="wardrobe-top" fill="#1B1E1C" 
                        points="
                            0,80
                            {{60 + wardrobeDepth - 40}},{{45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio + 60 + wardrobeDepth - 40}},{{45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio}}, 80"
                    />

                    <polygon id="wardrobe-bottom" fill="#303020" 
                        points="
                            0,{{wardrobeHeightRatio + 80}} 
                            {{60 + wardrobeDepth - 40}},{{wardrobeHeightRatio + 45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio + 60 + wardrobeDepth - 40}},{{wardrobeHeightRatio + 45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio}},{{wardrobeHeightRatio + 80}}"
                    />

                    <polyline id="wardrobe-right" fill="#51AF80" stroke="#000000" stroke-width="1"
                        points="
                            {{wardrobeWidthRatio}},{{wardrobeHeightRatio + 80}} 
                            {{wardrobeWidthRatio + 60 + wardrobeDepth - 40}},{{wardrobeHeightRatio + 45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio + 60 + wardrobeDepth - 40}},{{45 - wardrobeDepth + 40}} 
                            {{wardrobeWidthRatio}},80"
                    />

                    <rect id="wardrobe-face" x="0" y="80" fill="none" width="{{wardrobeWidthRatio}}" height="{{wardrobeHeightRatio}}"/>

                </g>
            </svg>
            <!-- x,y x,y x,y x,y -->
            <!-- ng-style="{'width': wardrobeWidth, 'height': wardrobeHeight }" -->
        </section>

    </div>

    <footer>
        
    </footer>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>