html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.section-controls,
.section-svg {
	display: inline-block;
	vertical-align: top;
	min-height: 100vh;
	padding: 2em;
}

.section-controls {
    width: 30%;
}

.section-svg {
	position: fixed;
    width: 70%;
}

.wardrobe-svg {

}