html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-height: 120vh;
}

h1 {
	margin: 0;
}

header {
	text-align: center;
}

.section-controls,
.section-svg {
	display: inline-block;
	vertical-align: top;
	padding: 1em;
	
}

.section-svg {
	position: fixed;
}

.section-controls {
    width: 30%;
    text-align: center;
}

.wardrobe-controls input {
	display: block;
	margin: .3em auto;
}

.blocks-controls input {
	margin: .3em;
}

.blocks-controls li {
	text-align: left;
	padding: .3em;
}

.blocks-controls li:not(:first-child) {
	border-top: 2px solid #bababa;
}

.section-svg {
    width: 70%;
}

.wardrobe-svg {
	transform: scale(1.6) translate(85px, 55px);
}